@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Personal Library Manager</h1>
    <p class="lead">Organize, track, and manage your personal book collection with ease.</p>

    @if (Request.IsAuthenticated)
    {
        <p>@Html.ActionLink("Go to My Library", "Index", "Books", null, new { @class = "btn btn-primary btn-lg" })</p>
    }
    else
    {
        <p>@Html.ActionLink("Get Started - Register Now", "Register", "Account", null, new { @class = "btn btn-primary btn-lg" })</p>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-book"></span> Track Your Books</h2>
        <p>
            Keep track of all the books you own, want to read, or have already completed.
            Never forget which books are on your reading list!
        </p>
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-star"></span> Rate & Review</h2>
        <p>
            Add personal ratings and reviews to remember your thoughts about each book.
            Build your own personal book recommendations!
        </p>
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-stats"></span> View Statistics</h2>
        <p>
            See your reading progress with statistics about your library.
            Track how many books you've completed and what's on your to-read list!
        </p>
    </div>
</div>

@if (!Request.IsAuthenticated)
{
    <hr />
    <div class="text-center">
        <h3>Ready to organize your reading life?</h3>
        <p>
            @Html.ActionLink("Create Your Free Account", "Register", "Account", null, new { @class = "btn btn-success btn-lg" })
        </p>
    </div>
}